<!-- BEGIN_INCLUDE(slack:authorize) -->
	<slack:authorize config-ref="Slack__Connection_Managament_type_strategy"/>
<!-- END_INCLUDE(slack:authorize) -->

<!-- BEGIN_INCLUDE(slack:unauthorize) -->
	<slack:unauthorize config-ref="Slack__Connection_Managament_type_strategy"/>
<!-- END_INCLUDE(slack:unauthorize) -->

<!-- BEGIN_INCLUDE(slack:get-user-info) -->
            <slack:get-user-info config-ref="Slack__Connection_Managament_type_strategy" id="${userID}" doc:name="Slack"/>
<!-- END_INCLUDE(slack:get-user-info) -->

<!-- BEGIN_INCLUDE(slack:get-user-info-by-name) -->
            <slack:get-user-info config-ref="Slack__Connection_Managament_type_strategy" id="${username}" doc:name="Slack"/>
<!-- END_INCLUDE(slack:get-user-info-by-name) -->

<!-- BEGIN_INCLUDE(slack:get-user-list) -->
	<slack:get-user-list config-ref="Slack__Connection_Managament_type_strategy"/>
<!-- END_INCLUDE(slack:get-user-list) -->

<!-- BEGIN_INCLUDE(slack:get-channel-list) -->
	<slack:get-channel-list config-ref="Slack__Connection_Managament_type_strategy"/>
<!-- END_INCLUDE(slack:get-channel-list) -->

<!-- BEGIN_INCLUDE(slack:get-channel-history) -->
	<slack:get-channel-history config-ref="Slack__Connection_Managament_type_strategy" channelId="#[flowVars.channelId]" />
<!-- END_INCLUDE(slack:get-channel-history) -->

<!-- BEGIN_INCLUDE(slack:get-channel-info) -->
	<slack:get-channel-info config-ref="Slack__Connection_Managament_type_strategy" channelId="#[flowVars.channelId]" />
<!-- END_INCLUDE(slack:get-channel-info) -->

<!-- BEGIN_INCLUDE(slack:get-channel-by-name) -->
	<slack:get-channel-by-name config-ref="Slack__Connection_Managament_type_strategy" channelName="#[flowVars.channelName]" />
<!-- END_INCLUDE(slack:get-channel-by-name) -->

<!-- BEGIN_INCLUDE(slack:get-channel-by-name) -->
	<slack:get-channel-by-name config-ref="Slack__Connection_Managament_type_strategy" channelName="#[flowVars.channelName]" />
<!-- END_INCLUDE(slack:get-channel-by-name) -->

<!-- BEGIN_INCLUDE(slack:create-channel) -->
	<slack:create-channel config-ref="Slack__Connection_Managament_type_strategy" channelName="#[flowVars.channelName]" />
<!-- END_INCLUDE(slack:create-channel) -->

<!-- BEGIN_INCLUDE(slack:rename-channel) -->
	<slack:rename-channel config-ref="Slack__Connection_Managament_type_strategy" channelId="#[flowVars.channelId]"  channelName="#[flowVars.channelName]" />
<!-- END_INCLUDE(slack:rename-channel) -->

<!-- BEGIN_INCLUDE(slack:join-channel) -->
	<slack:join-channel config-ref="Slack__Connection_Managament_type_strategy" channelName="#[flowVars.channelName]" />
<!-- END_INCLUDE(slack:join-channel) -->

<!-- BEGIN_INCLUDE(slack:leave-channel) -->
	<slack:leave-channel config-ref="Slack__Connection_Managament_type_strategy" channelId="#[flowVars.channelId]" />
<!-- END_INCLUDE(slack:leave-channel) -->

<!-- BEGIN_INCLUDE(slack:archive-channel) -->
	<slack:archive-channel config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]" />
<!-- END_INCLUDE(slack:archive-channel) -->

<!-- BEGIN_INCLUDE(slack:unarchive-channel) -->
	<slack:unarchive-channel config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]" />
<!-- END_INCLUDE(slack:unarchive-channel) -->

<!-- BEGIN_INCLUDE(slack:set-channel-topic) -->
	<slack:set-channel-topic config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]"  topic="#[flowVars.topic]" />
<!-- END_INCLUDE(slack:set-channel-topic) -->

<!-- BEGIN_INCLUDE(slack:set-channel-purpose) -->
	<slack:set-channel-purpose config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]"  purpose="#[flowVars.purpose]" />
<!-- END_INCLUDE(slack:set-channel-purpose) -->

<!-- BEGIN_INCLUDE(slack:post-message) -->
            <slack:post-message config-ref="Slack__Connection_Managament_type_strategy"  doc:name="Slack" channelId="${channel.id}" iconURL="https://pbs.twimg.com/profile_images/504738267510501376/9zpJ4eIZ_400x400.png" message="This is a bot helper message!" username="Mule ESB Slack Bot"/>
<!-- END_INCLUDE(slack:post-message) -->

<!-- BEGIN_INCLUDE(slack:post-message-with-attachment) -->
            <slack:post-message-with-attachment config-ref="Slack__Connection_Managament_type_strategy" channelId="${channel.id}" iconURL="http://icons.iconarchive.com/icons/danleech/simple/1024/twitter-icon.png" username="Twitter Bot" message="New Tweet about MuleSoft!" doc:name="Slack">
                <slack:chat-attachment color="#489fd7" text="This is a tweet"/>
                <slack:field title="Tweet Author" value="Username"/>
            </slack:post-message-with-attachment>
<!-- END_INCLUDE(slack:post-message-with-attachment) -->

<!-- BEGIN_INCLUDE(slack:delete-message) -->
	<slack:delete-message config-ref="Slack__Connection_Managament_type_strategy" timeStamp="#[flowVars.timeStamp]"  channelId="#[flowVars.channelId]" />
<!-- END_INCLUDE(slack:delete-message) -->

<!-- BEGIN_INCLUDE(slack:update-message) -->
	<slack:update-message config-ref="Slack__Connection_Managament_type_strategy" timeStamp="#[flowVars.timeStamp]"  channelId="#[flowVars.channelId]"  message="#[flowVars.message]" />
<!-- END_INCLUDE(slack:update-message) -->

<!-- BEGIN_INCLUDE(slack:open-direct-message-channel) -->
	<slack:open-direct-message-channel config-ref="Slack__Connection_Managament_type_strategy" userId="#[flowVars.userId]" />
<!-- END_INCLUDE(slack:open-direct-message-channel) -->

<!-- BEGIN_INCLUDE(slack:close-direct-message-channel) -->
	<slack:close-direct-message-channel config-ref="Slack__Connection_Managament_type_strategy" channelId="#[flowVars.channelId]" />
<!-- END_INCLUDE(slack:close-direct-message-channel) -->

<!-- BEGIN_INCLUDE(slack:list-direct-message-channels) -->
	<slack:list-direct-message-channels config-ref="Slack__Connection_Managament_type_strategy"/>
<!-- END_INCLUDE(slack:list-direct-message-channels) -->

<!-- BEGIN_INCLUDE(slack:get-d-m-history) -->
	<slack:get-d-m-history config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]" />
<!-- END_INCLUDE(slack:get-d-m-history) -->

<!-- BEGIN_INCLUDE(slack:get-group-list) -->
	<slack:get-group-list config-ref="Slack__Connection_Managament_type_strategy"/>
<!-- END_INCLUDE(slack:get-group-list) -->

<!-- BEGIN_INCLUDE(slack:get-group-history) -->
	<slack:get-group-history config-ref="Slack__Connection_Managament_type_strategy" groupID="#[flowVars.groupID]" />
<!-- END_INCLUDE(slack:get-group-history) -->

<!-- BEGIN_INCLUDE(slack:set-group-topic) -->
	<slack:set-group-topic config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]"  topic="#[flowVars.topic]" />
<!-- END_INCLUDE(slack:set-group-topic) -->

<!-- BEGIN_INCLUDE(slack:set-group-purpose) -->
	<slack:set-group-purpose config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]"  purpose="#[flowVars.purpose]" />
<!-- END_INCLUDE(slack:set-group-purpose) -->

<!-- BEGIN_INCLUDE(slack:create-group) -->
	<slack:create-group config-ref="Slack__Connection_Managament_type_strategy" groupName="#[flowVars.groupName]" />
<!-- END_INCLUDE(slack:create-group) -->

<!-- BEGIN_INCLUDE(slack:close-group) -->
	<slack:close-group config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]" />
<!-- END_INCLUDE(slack:close-group) -->

<!-- BEGIN_INCLUDE(slack:open-group) -->
	<slack:open-group config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]" />
<!-- END_INCLUDE(slack:open-group) -->

<!-- BEGIN_INCLUDE(slack:archive-group) -->
	<slack:archive-group config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]" />
<!-- END_INCLUDE(slack:archive-group) -->

<!-- BEGIN_INCLUDE(slack:retrieve-messages) -->
	<slack:retrieve-messages config-ref="Slack__Connection_Managament_type_strategy" channelID="${channel.id}" doc:name="Slack (Streaming)" messageRetrieverInterval="1000"/>
<!-- END_INCLUDE(slack:retrieve-messages) -->

<!-- BEGIN_INCLUDE(slack:unarchive-group) -->
	<slack:unarchive-group config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]" />
<!-- END_INCLUDE(slack:unarchive-group) -->

<!-- BEGIN_INCLUDE(slack:rename-group) -->
	<slack:rename-group config-ref="Slack__Connection_Managament_type_strategy" groupId="#[flowVars.groupId]"  groupName="#[flowVars.groupName]" />
<!-- END_INCLUDE(slack:rename-group) -->

<!-- BEGIN_INCLUDE(slack:get-group-info) -->
	<slack:get-group-info config-ref="Slack__Connection_Managament_type_strategy" channelId="#[flowVars.channelId]" />
<!-- END_INCLUDE(slack:get-group-info) -->

<!-- BEGIN_INCLUDE(slack:leave-group) -->
	<slack:leave-group config-ref="Slack__Connection_Managament_type_strategy" channelId="#[flowVars.channelId]" />
<!-- END_INCLUDE(slack:leave-group) -->

<!-- BEGIN_INCLUDE(slack:upload-file) -->
	<slack:upload-file config-ref="Slack__Connection_Managament_type_strategy" channelID="#[flowVars.channelID]"  filePath="#[flowVars.filePath]" />
<!-- END_INCLUDE(slack:upload-file) -->

<!-- BEGIN_INCLUDE(slack:upload-file-as-input-streams) -->
	<slack:upload-file-as-input-streams config-ref="Slack__Connection_Managament_type_strategy" channelID="${channel.id}" fileName="#[message.inboundProperties.originalFilename]" initialComment="#[message.inboundProperties.directory]" doc:name="Slack"/>
<!-- END_INCLUDE(slack:upload-file-as-input-streams) -->

